body{
	display: flex;
	flex-direction: column;
}
.header{
    background-color: rgb(248, 227, 200);
	width:100%;
	height: 150px;
}

.nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	word-spacing: 20px;
}

div, nav{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin-top: 20px;
	margin: 0 auto;
	background-color: rgb(255, 210, 151);
	padding: 10px;
	font-size: large;
	text-align: left;
	padding-top: 20px;
}


.table{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	border:3px solid black;
	border-collapse: collapse;
}

#spisok{
	order: 1;
}

#table{
	order: 3;
}

#form{
	order: 2;
}
#color1{
	background-color: cadetblue;
}

#color2{
	background-color: chocolate;
}

th{
	border:3px solid black;
	font-size: 18px;
	padding: 10px;
}

td{
	border:3px solid black;
	text-align: center;
	padding: 10px;
}

#Логотип{
	float:left;
	width: 100px;
	height:100px;
	border-radius: 50%;
	padding: 10px;
}

#Текст{
	background-color:rgb(248, 227, 200);
	font-size: x-large;
	padding: 10px;
	text-align: center;
}

footer{
	background-color: rgb(248, 227, 200);
	width:100%;
	height: 120px;
	font-size: x-large;
	order: 4;
}

a{
	color: black;
	text-decoration: none;
}

@media  screen and (min-width:1224px) {
	.nav{
		display: flex;
		flex-direction: row;
	}
	#spisok{
		order: 1;
	}
	#table{
		order: 2;
	}

	#form{
		order: 3;
	}
	
	footer{
		order: 4;
	}
}
